<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pdd.pddSkuListAdd.mapper.PddSkuListAddMapper">
    
    <resultMap type="PddSkuListAdd" id="PddSkuListAddResult">
        <result property="skuListAddId"    column="sku_list_add_id"    />
        <result property="goodsDataAddId"    column="goods_data_add_id"    />
        <result property="mainId"    column="main_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="thirdId"    column="third_id"    />
        <result property="specIdList"    column="spec_id_list"    />
        <result property="outSkuSn"    column="out_sku_sn"    />
        <result property="thumbUrl"    column="thumb_url"    />
        <result property="localThumbUrl"    column="local_thumb_url"    />
        <result property="length"    column="length"    />
        <result property="weight"    column="weight"    />
        <result property="quantity"    column="quantity"    />
        <result property="multiPrice"    column="multi_price"    />
        <result property="price"    column="price"    />
        <result property="limitQuantity"    column="limit_quantity"    />
        <result property="isOnsale"    column="is_onsale"    />
        <result property="specKey"    column="spec_key"    />
        <result property="specKeyId"    column="spec_key_id"    />
        <result property="specValue"    column="spec_value"    />
        <result property="specValueId"    column="spec_value_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
    </resultMap>
	
	<sql id="selectPddSkuListAddVo">
        select sku_list_add_id, goods_data_add_id, main_id, goods_id, third_id, spec_id_list, out_sku_sn, thumb_url, local_thumb_url, length, weight, quantity, multi_price, price, limit_quantity, is_onsale, spec_key, spec_key_id, spec_value, spec_value_id, status, remark, remark1, remark2, remark3, remark4, remark5 from pdd_sku_list_add
    </sql>
	
    <select id="selectPddSkuListAddList" parameterType="PddSkuListAdd" resultMap="PddSkuListAddResult">
        <include refid="selectPddSkuListAddVo"/>
        <where>  
            <if test="skuListAddId != null "> and sku_list_add_id = #{skuListAddId}</if>
             <if test="goodsDataAddId != null "> and goods_data_add_id = #{goodsDataAddId}</if>
             <if test="mainId != null "> and main_id = #{mainId}</if>
             <if test="goodsId != null "> and goods_id = #{goodsId}</if>
             <if test="thirdId != null "> and third_id = #{thirdId}</if>
             <if test="specIdList != null  and specIdList != '' "> and spec_id_list = #{specIdList}</if>
             <if test="outSkuSn != null  and outSkuSn != '' "> and out_sku_sn = #{outSkuSn}</if>
             <if test="thumbUrl != null  and thumbUrl != '' "> and thumb_url = #{thumbUrl}</if>
             <if test="localThumbUrl != null  and localThumbUrl != '' "> and local_thumb_url = #{localThumbUrl}</if>
             <if test="length != null "> and length = #{length}</if>
             <if test="weight != null "> and weight = #{weight}</if>
             <if test="quantity != null "> and quantity = #{quantity}</if>
             <if test="multiPrice != null "> and multi_price = #{multiPrice}</if>
             <if test="price != null "> and price = #{price}</if>
             <if test="limitQuantity != null "> and limit_quantity = #{limitQuantity}</if>
             <if test="isOnsale != null  and isOnsale != '' "> and is_onsale = #{isOnsale}</if>
             <if test="specKey != null  and specKey != '' "> and spec_key = #{specKey}</if>
             <if test="specKeyId != null  and specKeyId != '' "> and spec_key_id = #{specKeyId}</if>
             <if test="specValue != null  and specValue != '' "> and spec_value = #{specValue}</if>
             <if test="specValueId != null  and specValueId != '' "> and spec_value_id = #{specValueId}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="remark1 != null  and remark1 != '' "> and remark1 = #{remark1}</if>
             <if test="remark2 != null  and remark2 != '' "> and remark2 = #{remark2}</if>
             <if test="remark3 != null  and remark3 != '' "> and remark3 = #{remark3}</if>
             <if test="remark4 != null  and remark4 != '' "> and remark4 = #{remark4}</if>
             <if test="remark5 != null  and remark5 != '' "> and remark5 = #{remark5}</if>
         </where>
    </select>
    
    <select id="selectPddSkuListAddById" parameterType="Long" resultMap="PddSkuListAddResult">
        <include refid="selectPddSkuListAddVo"/>
        where sku_list_add_id = #{skuListAddId}
    </select>
        
    <insert id="insertPddSkuListAdd" parameterType="PddSkuListAdd" useGeneratedKeys="true" keyProperty="skuListAddId">
        insert into pdd_sku_list_add
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsDataAddId != null  ">goods_data_add_id,</if>
			<if test="mainId != null  ">main_id,</if>
			<if test="goodsId != null  ">goods_id,</if>
			<if test="thirdId != null  ">third_id,</if>
			<if test="specIdList != null  and specIdList != ''  ">spec_id_list,</if>
			<if test="outSkuSn != null  and outSkuSn != ''  ">out_sku_sn,</if>
			<if test="thumbUrl != null  and thumbUrl != ''  ">thumb_url,</if>
			<if test="localThumbUrl != null  and localThumbUrl != ''  ">local_thumb_url,</if>
			<if test="length != null  ">length,</if>
			<if test="weight != null  ">weight,</if>
			<if test="quantity != null  ">quantity,</if>
			<if test="multiPrice != null  ">multi_price,</if>
			<if test="price != null  ">price,</if>
			<if test="limitQuantity != null  ">limit_quantity,</if>
			<if test="isOnsale != null  and isOnsale != ''  ">is_onsale,</if>
			<if test="specKey != null  and specKey != ''  ">spec_key,</if>
			<if test="specKeyId != null  and specKeyId != ''  ">spec_key_id,</if>
			<if test="specValue != null  and specValue != ''  ">spec_value,</if>
			<if test="specValueId != null  and specValueId != ''  ">spec_value_id,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="remark1 != null  and remark1 != ''  ">remark1,</if>
			<if test="remark2 != null  and remark2 != ''  ">remark2,</if>
			<if test="remark3 != null  and remark3 != ''  ">remark3,</if>
			<if test="remark4 != null  and remark4 != ''  ">remark4,</if>
			<if test="remark5 != null  and remark5 != ''  ">remark5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsDataAddId != null  ">#{goodsDataAddId},</if>
			<if test="mainId != null  ">#{mainId},</if>
			<if test="goodsId != null  ">#{goodsId},</if>
			<if test="thirdId != null  ">#{thirdId},</if>
			<if test="specIdList != null  and specIdList != ''  ">#{specIdList},</if>
			<if test="outSkuSn != null  and outSkuSn != ''  ">#{outSkuSn},</if>
			<if test="thumbUrl != null  and thumbUrl != ''  ">#{thumbUrl},</if>
			<if test="localThumbUrl != null  and localThumbUrl != ''  ">#{localThumbUrl},</if>
			<if test="length != null  ">#{length},</if>
			<if test="weight != null  ">#{weight},</if>
			<if test="quantity != null  ">#{quantity},</if>
			<if test="multiPrice != null  ">#{multiPrice},</if>
			<if test="price != null  ">#{price},</if>
			<if test="limitQuantity != null  ">#{limitQuantity},</if>
			<if test="isOnsale != null  and isOnsale != ''  ">#{isOnsale},</if>
			<if test="specKey != null  and specKey != ''  ">#{specKey},</if>
			<if test="specKeyId != null  and specKeyId != ''  ">#{specKeyId},</if>
			<if test="specValue != null  and specValue != ''  ">#{specValue},</if>
			<if test="specValueId != null  and specValueId != ''  ">#{specValueId},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="remark1 != null  and remark1 != ''  ">#{remark1},</if>
			<if test="remark2 != null  and remark2 != ''  ">#{remark2},</if>
			<if test="remark3 != null  and remark3 != ''  ">#{remark3},</if>
			<if test="remark4 != null  and remark4 != ''  ">#{remark4},</if>
			<if test="remark5 != null  and remark5 != ''  ">#{remark5},</if>
         </trim>
    </insert>
	 
    <update id="updatePddSkuListAdd" parameterType="PddSkuListAdd">
        update pdd_sku_list_add
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsDataAddId != null  ">goods_data_add_id = #{goodsDataAddId},</if>
            <if test="mainId != null  ">main_id = #{mainId},</if>
            <if test="goodsId != null  ">goods_id = #{goodsId},</if>
            <if test="thirdId != null  ">third_id = #{thirdId},</if>
            <if test="specIdList != null  and specIdList != ''  ">spec_id_list = #{specIdList},</if>
            <if test="outSkuSn != null  and outSkuSn != ''  ">out_sku_sn = #{outSkuSn},</if>
            <if test="thumbUrl != null  and thumbUrl != ''  ">thumb_url = #{thumbUrl},</if>
            <if test="localThumbUrl != null  and localThumbUrl != ''  ">local_thumb_url = #{localThumbUrl},</if>
            <if test="length != null  ">length = #{length},</if>
            <if test="weight != null  ">weight = #{weight},</if>
            <if test="quantity != null  ">quantity = #{quantity},</if>
            <if test="multiPrice != null  ">multi_price = #{multiPrice},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="limitQuantity != null  ">limit_quantity = #{limitQuantity},</if>
            <if test="isOnsale != null  and isOnsale != ''  ">is_onsale = #{isOnsale},</if>
            <if test="specKey != null  and specKey != ''  ">spec_key = #{specKey},</if>
            <if test="specKeyId != null  and specKeyId != ''  ">spec_key_id = #{specKeyId},</if>
            <if test="specValue != null  and specValue != ''  ">spec_value = #{specValue},</if>
            <if test="specValueId != null  and specValueId != ''  ">spec_value_id = #{specValueId},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="remark1 != null  and remark1 != ''  ">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''  ">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''  ">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''  ">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''  ">remark5 = #{remark5},</if>
        </trim>
        where sku_list_add_id = #{skuListAddId}
    </update>

	<delete id="deletePddSkuListAddById" parameterType="Long">
        delete from pdd_sku_list_add where sku_list_add_id = #{skuListAddId}
    </delete>
	
    <delete id="deletePddSkuListAddByIds" parameterType="String">
        delete from pdd_sku_list_add where sku_list_add_id in 
        <foreach item="skuListAddId" collection="array" open="(" separator="," close=")">
            #{skuListAddId}
        </foreach>
    </delete>
    
</mapper>