<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改商品SKU')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pddSkuListAdd-edit" th:object="${pddSkuListAdd}">
            <input id="skuListAddId" name="skuListAddId" th:field="*{skuListAddId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">源数据表id：</label>
				<div class="col-sm-8">
					<input id="goodsDataAddId" name="goodsDataAddId" th:field="*{goodsDataAddId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主记录id：</label>
				<div class="col-sm-8">
					<input id="mainId" name="mainId" th:field="*{mainId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品id：</label>
				<div class="col-sm-8">
					<input id="goodsId" name="goodsId" th:field="*{goodsId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">三方id：</label>
				<div class="col-sm-8">
					<input id="thirdId" name="thirdId" th:field="*{thirdId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品规格列表：</label>
				<div class="col-sm-8">
					<input id="specIdList" name="specIdList" th:field="*{specIdList}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品sku外部编码：</label>
				<div class="col-sm-8">
					<input id="outSkuSn" name="outSkuSn" th:field="*{outSkuSn}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">sku预览图：</label>
				<div class="col-sm-8">
					<input id="thumbUrl" name="thumbUrl" th:field="*{thumbUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">本地sku预览图：</label>
				<div class="col-sm-8">
					<input id="localThumbUrl" name="localThumbUrl" th:field="*{localThumbUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">sku送装参数：</label>
				<div class="col-sm-8">
					<input id="length" name="length" th:field="*{length}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">重量（g）：</label>
				<div class="col-sm-8">
					<input id="weight" name="weight" th:field="*{weight}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品sku库存初始数量：</label>
				<div class="col-sm-8">
					<input id="quantity" name="quantity" th:field="*{quantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品团购价格：</label>
				<div class="col-sm-8">
					<input id="multiPrice" name="multiPrice" th:field="*{multiPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品单买价格：</label>
				<div class="col-sm-8">
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">sku购买限制：</label>
				<div class="col-sm-8">
					<input id="limitQuantity" name="limitQuantity" th:field="*{limitQuantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">sku上架状态：</label>
				<div class="col-sm-8">
					<input id="isOnsale" name="isOnsale" th:field="*{isOnsale}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规格：</label>
				<div class="col-sm-8">
					<input id="specKey" name="specKey" th:field="*{specKey}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规格id：</label>
				<div class="col-sm-8">
					<input id="specKeyId" name="specKeyId" th:field="*{specKeyId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规格值：</label>
				<div class="col-sm-8">
					<input id="specValue" name="specValue" th:field="*{specValue}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规格值id：</label>
				<div class="col-sm-8">
					<input id="specValueId" name="specValueId" th:field="*{specValueId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态（0正常 1暂停）：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注信息：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注1：</label>
				<div class="col-sm-8">
					<input id="remark1" name="remark1" th:field="*{remark1}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注2：</label>
				<div class="col-sm-8">
					<input id="remark2" name="remark2" th:field="*{remark2}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注3：</label>
				<div class="col-sm-8">
					<input id="remark3" name="remark3" th:field="*{remark3}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注4：</label>
				<div class="col-sm-8">
					<input id="remark4" name="remark4" th:field="*{remark4}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注5：</label>
				<div class="col-sm-8">
					<input id="remark5" name="remark5" th:field="*{remark5}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "pdd/pddSkuListAdd";
		$("#form-pddSkuListAdd-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-pddSkuListAdd-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
