<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('主记录状态列表')" />
	<th:block th:include="include :: jsonview-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse" style="display: none;">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								主记录id：<input type="text" name="mainId" th:value="${mainId}"/>
							</li>

							<li>
								商品id：<input type="text" name="goodsId"/>
							</li>

							<li>
								开始时间：<input type="text" name="startTime"/>
							</li>

							<li>
								总时长/秒：<input type="text" name="count"/>
							</li>

							<li>
								结束时间：<input type="text" name="endTime"/>
							</li>

							<li>
								三方id：<input type="text" name="thirdId"/>
							</li>

							<li>
								json数据：<input type="text" name="jsonData"/>
							</li>

							<li>
								主表状态：<input type="text" name="mainStatus"/>
							</li>

							<li>
								状态：<input type="text" name="status"/>
							</li>



							<li>
								备注信息：<input type="text" name="remark"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pdd:pddGoodsMainStatus:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pdd:pddGoodsMainStatus:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pdd:pddGoodsMainStatus:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pdd:pddGoodsMainStatus:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
	 <th:block th:include="include :: jsonview-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pdd:pddGoodsMainStatus:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pdd:pddGoodsMainStatus:remove')}]];
		var mainStatusData = [[${@dict.getType('pdd_main_status')}]];
		var statusData = [[${@dict.getType('pdd_status')}]];
        var prefix = ctx + "pdd/pddGoodsMainStatus";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
				detailUrl: prefix + "/detail/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "商品记录状态",
				queryParams: queryParams,
		        showExport: true,
				// detailView: true,
				// detailFormatter: detailFormatter,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'mainStatusId', 
					title : '',
					visible: false
				},
				{
					field : 'mainId', 
					title : '主记录id',
					sortable: true
				},
				{
					field : 'goodsId', 
					title : '商品id',
					sortable: true
				},
				{
					field : 'startTime', 
					title : '开始时间',
					sortable: true,
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value);
					}
				},
				{
					field : 'count', 
					title : '总时长/秒',
					sortable: true
				},
				{
					field : 'endTime', 
					title : '结束时间',
					sortable: true,
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value);
					}
				},
				{
					field : 'thirdId', 
					title : '三方id',
					sortable: true,
					visible: false
				},
				{
					field : 'jsonData', 
					title : 'json数据',
					sortable: true,
					visible: false   //这一列隐藏

				},
				{
					field : 'mainStatus', 
					title : '主表状态',
					sortable: true,
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(mainStatusData, value);
					}

				},
				{
					field : 'status', 
					title : '状态',
					sortable: true,
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(statusData, value);
					}
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: true,
					visible: false
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true,
					visible: false
				},
				{
					field : 'updateBy', 
					title : '更新者',
					sortable: true,
					visible: false
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true,
					visible: false
				},
				{
					field : 'remark', 
					title : '备注信息',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
						actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.mainStatusId + '\')"><i class="fa fa-search"></i>详细</a>');
						actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="run(\'' + row.mainId + '\', \'' + row.mainStatus + '\')"><i class="fa fa-play-circle-o"></i> 下一步</a> ');
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.mainStatusId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.mainStatusId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		/* 立即执行一次 */
		function run(mainId,mainStatus) {
			$.modal.confirm("确认要立即执行一次任务吗？", function() {
				$.operate.post(prefix + "/run", { "mainId": mainId, "mainStatus": mainStatus});
			})
		}

		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.mainId = $("input[name=mainId]").val();
			return search;
		}

	</script>
</body>
</html>