<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('主记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								商品id：<input type="text" name="goodsId"/>
							</li>

							<li>
								商品名称：<input type="text" name="goodsName"/>
							</li>

							<li>
								json数据：<input type="text" name="jsonData"/>
							</li>

							<li>
								状态：<input type="text" name="status"/>
							</li>

							<li>
								备注信息：<input type="text" name="remark"/>
							</li>

							<li>
								源头：<input type="text" name="source"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pdd:pddGoodsMain:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pdd:pddGoodsMain:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pdd:pddGoodsMain:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pdd:pddGoodsMain:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pdd:pddGoodsMain:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pdd:pddGoodsMain:remove')}]];
		var mainStatusData = [[${@dict.getType('pdd_main_status')}]];
		var statusData = [[${@dict.getType('pdd_status')}]];

        var prefix = ctx + "pdd/pddGoodsMain";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "主记录",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'mainId', 
					title : '主记录id',
					align : 'center',
					visible: false
				},
				{
					field : 'goodsId', 
					title : '商品id',
					align : 'center',
					sortable: false
				},
				{
					field : 'goodsName', 
					title : '商品名称',
					align : 'center',
					sortable: false
				},
				{
					field : 'jsonData', 
					title : '商品数据',
					align : 'center',
					sortable: false,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="pddGoodsDataOriginId(\'' + row.mainId + '\')">' + '原始商品数据' + '</a>'+'|'
								+'<a href="javascript:void(0)" onclick="pddGoodsDataAddId(\'' + row.mainId + '\')">' + '本地商品数据' + '</a>';
					}

				},
				{
					field : 'status', 
					title : '状态',
					sortable: false,
					align : 'center',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="pddGoodsMainStatus(\'' + row.mainId + '\')">' + $.table.selectDictLabel(mainStatusData, value) + '</a>';
					}
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: false
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: false
				},
				{
					field : 'updateBy', 
					title : '更新者',
					sortable: false
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: false
				},
				{
					field : 'remark', 
					title : '备注信息',
					sortable: false
				},
				{
					field : 'source', 
					title : '源头',
					sortable: false
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.mainId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.mainId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		/*pddGoodsDataOriginId-详细*/
		function pddGoodsDataOriginId(mainId) {
			var url = prefix + '/pddGoodsDataOriginId/' + mainId;
			$.modal.openTab("原商品数据", url);
		}

		/*pddGoodsDataAddId-详细*/
		function pddGoodsDataAddId(mainId) {
			var url = prefix + '/pddGoodsDataAddId/' + mainId;
			$.modal.openTab("本地商品数据", url);
		}

		/*pddGoodsDataOriginId-详细*/
		function pddGoodsMainStatus(mainId) {
			var url = prefix + '/pddGoodsMainStatus/' + mainId;
			$.modal.openTab("商品记录状态", url);
		}
    </script>
</body>
</html>