<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增商品数据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pddGoodsDataAdd-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">主记录id：</label>
				<div class="col-sm-8">
					<input id="mainId" name="mainId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品id：</label>
				<div class="col-sm-8">
					<input id="goodsId" name="goodsId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">三方id：</label>
				<div class="col-sm-8">
					<input id="thirdId" name="thirdId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品标题：</label>
				<div class="col-sm-8">
					<input id="goodsName" name="goodsName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品类型：</label>
				<div class="col-sm-8">
					<input id="goodsType" name="goodsType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品描述：</label>
				<div class="col-sm-8">
					<input id="goodsDesc" name="goodsDesc" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目ID：</label>
				<div class="col-sm-8">
					<input id="catId" name="catId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目ID1：</label>
				<div class="col-sm-8">
					<input id="catId1" name="catId1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目ID2：</label>
				<div class="col-sm-8">
					<input id="catId2" name="catId2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目ID3：</label>
				<div class="col-sm-8">
					<input id="catId3" name="catId3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目ID4：</label>
				<div class="col-sm-8">
					<input id="catId4" name="catId4" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目名称：</label>
				<div class="col-sm-8">
					<input id="catName" name="catName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目名称1：</label>
				<div class="col-sm-8">
					<input id="catName1" name="catName1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目名称2：</label>
				<div class="col-sm-8">
					<input id="catName2" name="catName2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目名称3：</label>
				<div class="col-sm-8">
					<input id="catName3" name="catName3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">叶子类目名称4：</label>
				<div class="col-sm-8">
					<input id="catName4" name="catName4" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品短标题：</label>
				<div class="col-sm-8">
					<input id="tinyName" name="tinyName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">国家ID：</label>
				<div class="col-sm-8">
					<input id="countryId" name="countryId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">保税仓：</label>
				<div class="col-sm-8">
					<input id="warehouse" name="warehouse" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">报关海关：</label>
				<div class="col-sm-8">
					<input id="customs" name="customs" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否需要上报海关：</label>
				<div class="col-sm-8">
					<input id="isCustoms" name="isCustoms" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">市场价格：</label>
				<div class="col-sm-8">
					<input id="marketPrice" name="marketPrice" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否预售：</label>
				<div class="col-sm-8">
					<input id="isPreSale" name="isPreSale" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预售时间：</label>
				<div class="col-sm-8">
					<input id="preSaleTime" name="preSaleTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承诺发货时间（ 秒：</label>
				<div class="col-sm-8">
					<input id="shipmentLimitSecond" name="shipmentLimitSecond" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物流运费模板ID：</label>
				<div class="col-sm-8">
					<input id="costTemplateId" name="costTemplateId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">团购人数：</label>
				<div class="col-sm-8">
					<input id="customerNum" name="customerNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">限购次数：</label>
				<div class="col-sm-8">
					<input id="buyLimit" name="buyLimit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单次限量：</label>
				<div class="col-sm-8">
					<input id="orderLimit" name="orderLimit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否7天无理由退换货：</label>
				<div class="col-sm-8">
					<input id="isRefundable" name="isRefundable" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否二手商品：</label>
				<div class="col-sm-8">
					<input id="secondHand" name="secondHand" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否支持假一赔十：</label>
				<div class="col-sm-8">
					<input id="isFolt" name="isFolt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">水果类目温馨提示：</label>
				<div class="col-sm-8">
					<input id="warmTips" name="warmTips" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品goods外部编码：</label>
				<div class="col-sm-8">
					<input id="outGoodsId" name="outGoodsId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品活动主图：</label>
				<div class="col-sm-8">
					<input id="imageUrl" name="imageUrl" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品活动主图：</label>
				<div class="col-sm-8">
					<input id="localImageUrl" name="localImageUrl" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品轮播图：</label>
				<div class="col-sm-8">
					<input id="carouselGallery" name="carouselGallery" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品轮播图：</label>
				<div class="col-sm-8">
					<input id="localCarouselGallery" name="localCarouselGallery" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品详情图：</label>
				<div class="col-sm-8">
					<input id="detailGallery" name="detailGallery" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品详情图：</label>
				<div class="col-sm-8">
					<input id="localDetailGallery" name="localDetailGallery" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否支持正品发票：</label>
				<div class="col-sm-8">
					<input id="invoiceStatus" name="invoiceStatus" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否支持全国联保：</label>
				<div class="col-sm-8">
					<input id="quanGuoLianBao" name="quanGuoLianBao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">只换不修的天数：</label>
				<div class="col-sm-8">
					<input id="zhiHuanBuXiu" name="zhiHuanBuXiu" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">送货入户模版id：</label>
				<div class="col-sm-8">
					<input id="songHuoRuHu" name="songHuoRuHu" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">上门安装模版id：</label>
				<div class="col-sm-8">
					<input id="shangMenAnZhuang" name="shangMenAnZhuang" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">送货入户并安装模版id：</label>
				<div class="col-sm-8">
					<input id="songHuoAnZhuang" name="songHuoAnZhuang" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">买家自提模版id：</label>
				<div class="col-sm-8">
					<input id="maiJiaZiTi" name="maiJiaZiTi" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">坏果包赔：</label>
				<div class="col-sm-8">
					<input id="badFruitClaim" name="badFruitClaim" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">缺重包退：</label>
				<div class="col-sm-8">
					<input id="lackOfWeightClaim" name="lackOfWeightClaim" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原产地id：</label>
				<div class="col-sm-8">
					<input id="originCountryId" name="originCountryId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">sku对象列表：</label>
				<div class="col-sm-8">
					<input id="skuListAddId" name="skuListAddId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品属性列表：</label>
				<div class="col-sm-8">
					<input id="goodsPropertiesAddId" name="goodsPropertiesAddId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">海外原id：</label>
				<div class="col-sm-8">
					<input id="overseaGoodsOriginId" name="overseaGoodsOriginId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品视频：</label>
				<div class="col-sm-8">
					<input id="carouselVideoOriginId" name="carouselVideoOriginId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品视频：</label>
				<div class="col-sm-8">
					<input id="carouselVideoOrigin" name="carouselVideoOrigin" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务集合：</label>
				<div class="col-sm-8">
					<input id="mallService" name="mallService" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">承诺发货时间：</label>
				<div class="col-sm-8">
					<input id="shipmentLimitServer" name="shipmentLimitServer" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物流运费模板：</label>
				<div class="col-sm-8">
					<input id="costTemplateServer" name="costTemplateServer" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否7天无理由退换货：</label>
				<div class="col-sm-8">
					<input id="refundableServer" name="refundableServer" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态（0正常 1暂停）：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新者：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注信息：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注1：</label>
				<div class="col-sm-8">
					<input id="remark1" name="remark1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注2：</label>
				<div class="col-sm-8">
					<input id="remark2" name="remark2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注3：</label>
				<div class="col-sm-8">
					<input id="remark3" name="remark3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注4：</label>
				<div class="col-sm-8">
					<input id="remark4" name="remark4" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注5：</label>
				<div class="col-sm-8">
					<input id="remark5" name="remark5" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "pdd/pddGoodsDataAdd"
		$("#form-pddGoodsDataAdd-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-pddGoodsDataAdd-add').serialize());
	        }
	    }
	</script>
</body>
</html>
