<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商品数据列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse"  style="display: none;">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								主记录id：<input type="text" name="mainId" th:value="${mainId}"/>
							</li>

							<li>
								商品id：<input type="text" name="goodsId"/>
							</li>

							<li>
								三方id：<input type="text" name="thirdId"/>
							</li>

							<li>
								商品标题：<input type="text" name="goodsName"/>
							</li>

							<li>
								商品类型：<input type="text" name="goodsType"/>
							</li>

							<li>
								商品描述：<input type="text" name="goodsDesc"/>
							</li>

							<li>
								叶子类目ID：<input type="text" name="catId"/>
							</li>

							<li>
								叶子类目ID1：<input type="text" name="catId1"/>
							</li>

							<li>
								叶子类目ID2：<input type="text" name="catId2"/>
							</li>

							<li>
								叶子类目ID3：<input type="text" name="catId3"/>
							</li>

							<li>
								叶子类目ID4：<input type="text" name="catId4"/>
							</li>

							<li>
								叶子类目名称：<input type="text" name="catName"/>
							</li>

							<li>
								叶子类目名称1：<input type="text" name="catName1"/>
							</li>

							<li>
								叶子类目名称2：<input type="text" name="catName2"/>
							</li>

							<li>
								叶子类目名称3：<input type="text" name="catName3"/>
							</li>

							<li>
								叶子类目名称4：<input type="text" name="catName4"/>
							</li>

							<li>
								商品短标题：<input type="text" name="tinyName"/>
							</li>

							<li>
								国家ID：<input type="text" name="countryId"/>
							</li>

							<li>
								保税仓：<input type="text" name="warehouse"/>
							</li>

							<li>
								报关海关：<input type="text" name="customs"/>
							</li>

							<li>
								是否需要上报海关：<input type="text" name="isCustoms"/>
							</li>

							<li>
								市场价格：<input type="text" name="marketPrice"/>
							</li>

							<li>
								是否预售：<input type="text" name="isPreSale"/>
							</li>

							<li>
								预售时间：<input type="text" name="preSaleTime"/>
							</li>

							<li>
								承诺发货时间（ 秒：<input type="text" name="shipmentLimitSecond"/>
							</li>

							<li>
								物流运费模板ID：<input type="text" name="costTemplateId"/>
							</li>

							<li>
								团购人数：<input type="text" name="customerNum"/>
							</li>

							<li>
								限购次数：<input type="text" name="buyLimit"/>
							</li>

							<li>
								单次限量：<input type="text" name="orderLimit"/>
							</li>

							<li>
								是否7天无理由退换货：<input type="text" name="isRefundable"/>
							</li>

							<li>
								是否二手商品：<input type="text" name="secondHand"/>
							</li>

							<li>
								是否支持假一赔十：<input type="text" name="isFolt"/>
							</li>

							<li>
								水果类目温馨提示：<input type="text" name="warmTips"/>
							</li>

							<li>
								商品goods外部编码：<input type="text" name="outGoodsId"/>
							</li>

							<li>
								商品活动主图：<input type="text" name="imageUrl"/>
							</li>

							<li>
								商品活动主图：<input type="text" name="localImageUrl"/>
							</li>

							<li>
								商品轮播图：<input type="text" name="carouselGallery"/>
							</li>

							<li>
								商品轮播图：<input type="text" name="localCarouselGallery"/>
							</li>

							<li>
								商品详情图：<input type="text" name="detailGallery"/>
							</li>

							<li>
								商品详情图：<input type="text" name="localDetailGallery"/>
							</li>

							<li>
								是否支持正品发票：<input type="text" name="invoiceStatus"/>
							</li>

							<li>
								是否支持全国联保：<input type="text" name="quanGuoLianBao"/>
							</li>

							<li>
								只换不修的天数：<input type="text" name="zhiHuanBuXiu"/>
							</li>

							<li>
								送货入户模版id：<input type="text" name="songHuoRuHu"/>
							</li>

							<li>
								上门安装模版id：<input type="text" name="shangMenAnZhuang"/>
							</li>

							<li>
								送货入户并安装模版id：<input type="text" name="songHuoAnZhuang"/>
							</li>

							<li>
								买家自提模版id：<input type="text" name="maiJiaZiTi"/>
							</li>

							<li>
								坏果包赔：<input type="text" name="badFruitClaim"/>
							</li>

							<li>
								缺重包退：<input type="text" name="lackOfWeightClaim"/>
							</li>

							<li>
								原产地id：<input type="text" name="originCountryId"/>
							</li>

							<li>
								sku对象列表：<input type="text" name="skuListAddId"/>
							</li>

							<li>
								商品属性列表：<input type="text" name="goodsPropertiesAddId"/>
							</li>

							<li>
								海外原id：<input type="text" name="overseaGoodsOriginId"/>
							</li>

							<li>
								商品视频：<input type="text" name="carouselVideoOriginId"/>
							</li>

							<li>
								商品视频：<input type="text" name="carouselVideoOrigin"/>
							</li>

							<li>
								服务集合：<input type="text" name="mallService"/>
							</li>

							<li>
								承诺发货时间：<input type="text" name="shipmentLimitServer"/>
							</li>

							<li>
								物流运费模板：<input type="text" name="costTemplateServer"/>
							</li>

							<li>
								是否7天无理由退换货：<input type="text" name="refundableServer"/>
							</li>

							<li>
								状态（0正常 1暂停）：<input type="text" name="status"/>
							</li>

							<li>
								创建者：<input type="text" name="createBy"/>
							</li>

							<li>
								创建时间：<input type="text" name="createTime"/>
							</li>

							<li>
								更新者：<input type="text" name="updateBy"/>
							</li>

							<li>
								更新时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								备注信息：<input type="text" name="remark"/>
							</li>

							<li>
								备注1：<input type="text" name="remark1"/>
							</li>

							<li>
								备注2：<input type="text" name="remark2"/>
							</li>

							<li>
								备注3：<input type="text" name="remark3"/>
							</li>

							<li>
								备注4：<input type="text" name="remark4"/>
							</li>

							<li>
								备注5：<input type="text" name="remark5"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pdd:pddGoodsDataAdd:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pdd:pddGoodsDataAdd:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pdd:pddGoodsDataAdd:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pdd:pddGoodsDataAdd:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pdd:pddGoodsDataAdd:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pdd:pddGoodsDataAdd:remove')}]];
        var prefix = ctx + "pdd/pddGoodsDataAdd";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "本地商品数据",
				queryParams: queryParams,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'goodsDataAddId', 
					title : '',
					visible: false
				},
				{
					field : 'mainId', 
					title : '主记录id',
					sortable: true
				},
				{
					field : 'goodsId', 
					title : '商品id',
					sortable: true
				},
				{
					field : 'thirdId', 
					title : '三方id',
					sortable: true
				},
				{
					field : 'goodsName', 
					title : '商品标题',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'goodsType', 
					title : '商品类型',
					sortable: true
				},
				{
					field : 'goodsDesc', 
					title : '商品描述',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'catId', 
					title : '叶子类目ID',
					sortable: true
				},
				{
					field : 'catId1', 
					title : '叶子类目ID1',
					sortable: true
				},
				{
					field : 'catId2', 
					title : '叶子类目ID2',
					sortable: true
				},
				{
					field : 'catId3', 
					title : '叶子类目ID3',
					sortable: true
				},
				{
					field : 'catId4', 
					title : '叶子类目ID4',
					sortable: true
				},
				{
					field : 'catName', 
					title : '叶子类目名称',
					sortable: true
				},
				{
					field : 'catName1', 
					title : '叶子类目名称1',
					sortable: true
				},
				{
					field : 'catName2', 
					title : '叶子类目名称2',
					sortable: true
				},
				{
					field : 'catName3', 
					title : '叶子类目名称3',
					sortable: true
				},
				{
					field : 'catName4', 
					title : '叶子类目名称4',
					sortable: true
				},
				{
					field : 'tinyName', 
					title : '商品短标题',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'countryId', 
					title : '国家ID',
					sortable: true
				},
				{
					field : 'warehouse', 
					title : '保税仓',
					sortable: true
				},
				{
					field : 'customs', 
					title : '报关海关',
					sortable: true
				},
				{
					field : 'isCustoms', 
					title : '是否需要上报海关',
					sortable: true
				},
				{
					field : 'marketPrice', 
					title : '市场价格',
					sortable: true
				},
				{
					field : 'isPreSale', 
					title : '是否预售',
					sortable: true
				},
				{
					field : 'preSaleTime', 
					title : '预售时间',
					sortable: true
				},
				{
					field : 'shipmentLimitSecond', 
					title : '承诺发货时间（ 秒',
					sortable: true
				},
				{
					field : 'costTemplateId', 
					title : '物流运费模板ID',
					sortable: true
				},
				{
					field : 'customerNum', 
					title : '团购人数',
					sortable: true
				},
				{
					field : 'buyLimit', 
					title : '限购次数',
					sortable: true
				},
				{
					field : 'orderLimit', 
					title : '单次限量',
					sortable: true
				},
				{
					field : 'isRefundable', 
					title : '是否7天无理由退换货',
					sortable: true
				},
				{
					field : 'secondHand', 
					title : '是否二手商品',
					sortable: true
				},
				{
					field : 'isFolt', 
					title : '是否支持假一赔十',
					sortable: true
				},
				{
					field : 'warmTips', 
					title : '水果类目温馨提示',
					sortable: true
				},
				{
					field : 'outGoodsId', 
					title : '商品goods外部编码',
					sortable: true
				},
				{
					field : 'imageUrl', 
					title : '商品活动主图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'localImageUrl', 
					title : '商品活动主图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'carouselGallery', 
					title : '商品轮播图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'localCarouselGallery', 
					title : '商品轮播图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'detailGallery', 
					title : '商品详情图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'localDetailGallery', 
					title : '商品详情图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'invoiceStatus', 
					title : '是否支持正品发票',
					sortable: true
				},
				{
					field : 'quanGuoLianBao', 
					title : '是否支持全国联保',
					sortable: true
				},
				{
					field : 'zhiHuanBuXiu', 
					title : '只换不修的天数',
					sortable: true
				},
				{
					field : 'songHuoRuHu', 
					title : '送货入户模版id',
					sortable: true
				},
				{
					field : 'shangMenAnZhuang', 
					title : '上门安装模版id',
					sortable: true
				},
				{
					field : 'songHuoAnZhuang', 
					title : '送货入户并安装模版id',
					sortable: true
				},
				{
					field : 'maiJiaZiTi', 
					title : '买家自提模版id',
					sortable: true
				},
				{
					field : 'badFruitClaim', 
					title : '坏果包赔',
					sortable: true
				},
				{
					field : 'lackOfWeightClaim', 
					title : '缺重包退',
					sortable: true
				},
				{
					field : 'originCountryId', 
					title : '原产地id',
					sortable: true
				},
				{
					field : 'skuListAddId', 
					title : 'sku对象列表',
					sortable: true,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="skuListAddId(\'' + row.goodsDataAddId + '\')">' + 'SKU列表' + '</a>';
					}
				},
				{
					field : 'goodsPropertiesAddId', 
					title : '商品属性列表',
					sortable: true,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="goodsPropertiesAddId(\'' + row.goodsDataAddId + '\')">' + '属性列表' + '</a>';
					}
				},
				{
					field : 'overseaGoodsOriginId', 
					title : '海外原id',
					sortable: true
				},
				{
					field : 'carouselVideoOriginId', 
					title : '商品视频',
					sortable: true
				},
				{
					field : 'carouselVideoOrigin', 
					title : '商品视频',
					align: 'center',
					formatter: function(value, row, index) {
						if($.common.isEmpty(value)){
							return $.table.tooltip(value,20);
						}else {
							value = value.split("|")[0];
							return $.table.videoView(value);
						}

						//return $.table.tooltip(value,20);
					}
				},
				{
					field : 'mallService', 
					title : '服务集合',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,10);
					}
				},
				{
					field : 'shipmentLimitServer', 
					title : '承诺发货时间',
					sortable: true
				},
				{
					field : 'costTemplateServer', 
					title : '物流运费模板',
					sortable: true
				},
				{
					field : 'refundableServer', 
					title : '是否7天无理由退换货',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态（0正常 1暂停）',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateBy', 
					title : '更新者',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注信息',
					sortable: true
				},
				{
					field : 'remark1', 
					title : '备注1',
					sortable: true
				},
				{
					field : 'remark2', 
					title : '备注2',
					sortable: true
				},
				{
					field : 'remark3', 
					title : '备注3',
					sortable: true
				},
				{
					field : 'remark4', 
					title : '备注4',
					sortable: true
				},
				{
					field : 'remark5', 
					title : '备注5',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.goodsDataAddId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.goodsDataAddId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		/*skuListOriginId-详细*/
		function skuListAddId(goodsDataAddId) {
			var url = prefix + '/skuListAddId/' + goodsDataAddId;
			$.modal.openTab("本地商品SKU数据", url);
		}

		/*goodsPropertiesOriginId-详细*/
		function goodsPropertiesAddId(goodsDataAddId) {
			var url = prefix + '/goodsPropertiesAddId/' + goodsDataAddId;
			$.modal.openTab("本地商品属性数据", url);
		}

		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.mainId = $("input[name=mainId]").val();
			return search;
		}
    </script>
</body>
</html>