<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('原始商品SKU列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse" style="display: none;">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								源数据表id：<input type="text" name="goodsDataOriginId"/>
							</li>

							<li>
								主记录id：<input type="text" name="mainId"/>
							</li>

							<li>
								商品id：<input type="text" name="goodsId"/>
							</li>

							<li>
								三方id：<input type="text" name="thirdId"/>
							</li>

							<li>
								商品规格列表：<input type="text" name="specIdList"/>
							</li>

							<li>
								商品sku外部编码：<input type="text" name="outSkuSn"/>
							</li>

							<li>
								sku预览图：<input type="text" name="thumbUrl"/>
							</li>

							<li>
								sku送装参数：<input type="text" name="length"/>
							</li>

							<li>
								重量（g）：<input type="text" name="weight"/>
							</li>

							<li>
								商品sku库存初始数量：<input type="text" name="quantity"/>
							</li>

							<li>
								商品团购价格：<input type="text" name="multiPrice"/>
							</li>

							<li>
								商品单买价格：<input type="text" name="price"/>
							</li>

							<li>
								sku购买限制：<input type="text" name="limitQuantity"/>
							</li>

							<li>
								sku上架状态：<input type="text" name="isOnsale"/>
							</li>

							<li>
								规格：<input type="text" name="specKey"/>
							</li>

							<li>
								规格id：<input type="text" name="specKeyId"/>
							</li>

							<li>
								规格值：<input type="text" name="specValue"/>
							</li>

							<li>
								规格值id：<input type="text" name="specValueId"/>
							</li>

							<li>
								状态：<input type="text" name="status"/>
							</li>

							<li>
								备注信息：<input type="text" name="remark"/>
							</li>

							<li>
								备注1：<input type="text" name="remark1"/>
							</li>

							<li>
								备注2：<input type="text" name="remark2"/>
							</li>

							<li>
								备注3：<input type="text" name="remark3"/>
							</li>

							<li>
								备注4：<input type="text" name="remark4"/>
							</li>

							<li>
								备注5：<input type="text" name="remark5"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pdd:pddSkuListOrigin:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pdd:pddSkuListOrigin:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pdd:pddSkuListOrigin:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pdd:pddSkuListOrigin:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pdd:pddSkuListOrigin:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pdd:pddSkuListOrigin:remove')}]];
        var prefix = ctx + "pdd/pddSkuListOrigin";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "原始商品SKU",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'skuListOriginId', 
					title : '',
					visible: false
				},
				{
					field : 'goodsDataOriginId', 
					title : '源数据表id',
					sortable: true
				},
				{
					field : 'mainId', 
					title : '主记录id',
					sortable: true
				},
				{
					field : 'goodsId', 
					title : '商品id',
					sortable: true
				},
				{
					field : 'thirdId', 
					title : '三方id',
					sortable: true
				},
				{
					field : 'specIdList', 
					title : '商品规格列表',
					sortable: true
				},
				{
					field : 'outSkuSn', 
					title : '商品sku外部编码',
					sortable: true
				},
				{
					field : 'thumbUrl', 
					title : 'sku预览图',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.tooltip(value,20);
					}
				},
				{
					field : 'length', 
					title : 'sku送装参数',
					sortable: true
				},
				{
					field : 'weight', 
					title : '重量（g）',
					sortable: true
				},
				{
					field : 'quantity', 
					title : '商品sku库存初始数量',
					sortable: true
				},
				{
					field : 'multiPrice', 
					title : '商品团购价格',
					sortable: true
				},
				{
					field : 'price', 
					title : '商品单买价格',
					sortable: true
				},
				{
					field : 'limitQuantity', 
					title : 'sku购买限制',
					sortable: true
				},
				{
					field : 'isOnsale', 
					title : 'sku上架状态',
					sortable: true
				},
				{
					field : 'specKey', 
					title : '规格',
					sortable: true
				},
				{
					field : 'specKeyId', 
					title : '规格id',
					sortable: true
				},
				{
					field : 'specValue', 
					title : '规格值',
					sortable: true
				},
				{
					field : 'specValueId', 
					title : '规格值id',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注信息',
					sortable: true
				},
				{
					field : 'remark1', 
					title : '备注1',
					sortable: true
				},
				{
					field : 'remark2', 
					title : '备注2',
					sortable: true
				},
				{
					field : 'remark3', 
					title : '备注3',
					sortable: true
				},
				{
					field : 'remark4', 
					title : '备注4',
					sortable: true
				},
				{
					field : 'remark5', 
					title : '备注5',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.skuListOriginId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.skuListOriginId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>